<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hichlink.hvp.common.dao.SmsVerifyMapper" >
  <resultMap id="BaseResultMap" type="com.hichlink.hvp.common.entity.SmsVerify" >
    <id column="sms_id" property="smsId" jdbcType="BIGINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="verify_code" property="verifyCode" jdbcType="VARCHAR" />
    <result column="exp_time" property="expTime" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
    <result column="sms_type" property="smsType" jdbcType="INTEGER" />
    <result column="input_time" property="inputTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <!--例子:<if test="params['name'] != null and  params['name'] != ''">and name=#{params.name}</if>-->
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sms_id, mobile, verify_code, exp_time, is_valid, sms_type, input_time
  </sql>
  <select id="pageQuery" resultMap="BaseResultMap" parameterType="com.aspire.webbas.core.pagination.mybatis.pager.Page" >
    select
    <include refid="Base_Column_List" />
    from sms_verify
    <if test="params != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sms_verify
    where sms_id = #{smsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sms_verify
    where sms_id = #{smsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hichlink.hvp.common.entity.SmsVerify" >
    insert into sms_verify (sms_id, mobile, verify_code, 
      exp_time, is_valid, sms_type, 
      input_time)
    values (#{smsId,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{verifyCode,jdbcType=VARCHAR}, 
      #{expTime,jdbcType=TIMESTAMP}, #{isValid,jdbcType=INTEGER}, #{smsType,jdbcType=INTEGER}, 
      #{inputTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hichlink.hvp.common.entity.SmsVerify" >
    insert into sms_verify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="smsId != null" >
        sms_id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="verifyCode != null" >
        verify_code,
      </if>
      <if test="expTime != null" >
        exp_time,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="smsType != null" >
        sms_type,
      </if>
      <if test="inputTime != null" >
        input_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="smsId != null" >
        #{smsId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="verifyCode != null" >
        #{verifyCode,jdbcType=VARCHAR},
      </if>
      <if test="expTime != null" >
        #{expTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="smsType != null" >
        #{smsType,jdbcType=INTEGER},
      </if>
      <if test="inputTime != null" >
        #{inputTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hichlink.hvp.common.entity.SmsVerify" >
    update sms_verify
    <set >
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="verifyCode != null" >
        verify_code = #{verifyCode,jdbcType=VARCHAR},
      </if>
      <if test="expTime != null" >
        exp_time = #{expTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="smsType != null" >
        sms_type = #{smsType,jdbcType=INTEGER},
      </if>
      <if test="inputTime != null" >
        input_time = #{inputTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sms_id = #{smsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hichlink.hvp.common.entity.SmsVerify" >
    update sms_verify
    set mobile = #{mobile,jdbcType=VARCHAR},
      verify_code = #{verifyCode,jdbcType=VARCHAR},
      exp_time = #{expTime,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=INTEGER},
      sms_type = #{smsType,jdbcType=INTEGER},
      input_time = #{inputTime,jdbcType=TIMESTAMP}
    where sms_id = #{smsId,jdbcType=BIGINT}
  </update>
</mapper>