<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hichlink.hvp.common.dao.VoteRuleMapper" >
  <resultMap id="BaseResultMap" type="com.hichlink.hvp.common.entity.VoteRule" >
    <id column="rule_id" property="ruleId" jdbcType="BIGINT" />
    <result column="act_id" property="actId" jdbcType="VARCHAR" />
    <result column="per_vote_num" property="perVoteNum" jdbcType="INTEGER" />
    <result column="vote_ratio" property="voteRatio" jdbcType="INTEGER" />
    <result column="is_repeate_vote" property="isRepeateVote" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <!--例子:<if test="params['name'] != null and  params['name'] != ''">and name=#{params.name}</if>-->
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rule_id, act_id, per_vote_num, vote_ratio, is_repeate_vote, creator, create_time, 
    updator, update_time
  </sql>
  <select id="pageQuery" resultMap="BaseResultMap" parameterType="com.aspire.webbas.core.pagination.mybatis.pager.Page" >
    select
    <include refid="Base_Column_List" />
    from vote_rule
    <if test="params != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from vote_rule
    where rule_id = #{ruleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from vote_rule
    where rule_id = #{ruleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hichlink.hvp.common.entity.VoteRule" >
    insert into vote_rule (rule_id, act_id, per_vote_num, 
      vote_ratio, is_repeate_vote, creator, 
      create_time, updator, update_time
      )
    values (#{ruleId,jdbcType=BIGINT}, #{actId,jdbcType=VARCHAR}, #{perVoteNum,jdbcType=INTEGER}, 
      #{voteRatio,jdbcType=INTEGER}, #{isRepeateVote,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hichlink.hvp.common.entity.VoteRule" >
    insert into vote_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        rule_id,
      </if>
      <if test="actId != null" >
        act_id,
      </if>
      <if test="perVoteNum != null" >
        per_vote_num,
      </if>
      <if test="voteRatio != null" >
        vote_ratio,
      </if>
      <if test="isRepeateVote != null" >
        is_repeate_vote,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        #{ruleId,jdbcType=BIGINT},
      </if>
      <if test="actId != null" >
        #{actId,jdbcType=VARCHAR},
      </if>
      <if test="perVoteNum != null" >
        #{perVoteNum,jdbcType=INTEGER},
      </if>
      <if test="voteRatio != null" >
        #{voteRatio,jdbcType=INTEGER},
      </if>
      <if test="isRepeateVote != null" >
        #{isRepeateVote,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hichlink.hvp.common.entity.VoteRule" >
    update vote_rule
    <set >
      <if test="actId != null" >
        act_id = #{actId,jdbcType=VARCHAR},
      </if>
      <if test="perVoteNum != null" >
        per_vote_num = #{perVoteNum,jdbcType=INTEGER},
      </if>
      <if test="voteRatio != null" >
        vote_ratio = #{voteRatio,jdbcType=INTEGER},
      </if>
      <if test="isRepeateVote != null" >
        is_repeate_vote = #{isRepeateVote,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rule_id = #{ruleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hichlink.hvp.common.entity.VoteRule" >
    update vote_rule
    set act_id = #{actId,jdbcType=VARCHAR},
      per_vote_num = #{perVoteNum,jdbcType=INTEGER},
      vote_ratio = #{voteRatio,jdbcType=INTEGER},
      is_repeate_vote = #{isRepeateVote,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where rule_id = #{ruleId,jdbcType=BIGINT}
  </update>
</mapper>